body{
    font: 20px Arial,sans-serif;
}

.navbar{
    background-color: #0174DF;
}

.Quem-somos {
    background-color:#848484;

}

.margin{   
    padding-bottom: 50px;
    padding-top: 10px;

}

.parceiros{
    background-color: #E6E6E6;
    color: rgb(43, 37, 37);
}

.bg-footer{
    background-color: rgb(26, 21, 21);
    font-style: italic;
    color: white;
}

.serviços{
    background-color:#848484;
    color: rgb(43, 38, 38);
}